html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, serif;
  min-height: 100%;
}

h1
{
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
h2 {
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 0px;
}
h3 {
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0px;
}

p {
  color: #000000;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
.signature {
  color: #000000;
  font-family: 'Dancing Script', Helvetica, Arial, sans-serif;
}

.one-third {
  /*width: 30%;*/
}
/* HEADER */
header {
  background: url('../images/connect.png') 0px 220px no-repeat;
  background-size: cover;
  color: #FFF;
  padding-bottom: 300px;
  height: auto;
}

.topheader {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;

}


.topheader img {
  width: 80px;
}

.navigation {
  margin-right: 200px;
}

.navigation a {
  color: #fff;
}

.navigation ul {
  list-style: none;
  display: flex;
  font-size: 22px;
  margin: 0;
}

.navigation li + li {
  margin-left: 15px;
}

.dropbtnnav {
    background: #fff;
    border-radius: 1px;
    color: #000;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    min-width: 60px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
}

.dropdownnav {
  display: inline-block;
  position: relative;
}

.dropdown-content-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-nav a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-nav a:hover {background-color: #f1f1f1}

.dropdownnav:hover .dropdown-content-nav {
    display: block;
}

.dropdownnav:hover .dropbtnnav {
    background-color: #000;
    color: #fff;
}

header a {
  text-decoration: none;
  color: #000000;
}

.contactcontent {
  margin-top: 80px;
  text-align: center;
  width: 100%;
}

header .contactcontent h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 10;
  margin-bottom: 0px;
  padding-top: 30px;
}

header .contactcontent h2 {
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 0;
}

header .contactcontent h1 span.simple {
  color: #4b1da7;
}

header .contactcontent p {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 100;
  line-height: 26px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.contacttext {
  margin-bottom: 80px;
}

.mailto {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 1px;
  color: #000;
  font-weight: 700;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 70px;
  align-items: center;
}

.buttons .btn {
  background: #000;
  border: 2px solid #000000;
  border-radius: 1px;
  color: #fff;
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 400;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 120px;
}

.buttons {

}

.emailbutton {
  margin-bottom: 20px;
}

.emailbutton span {
  font-size: 20px;
}

.linkedin {
  width: 40px;
}

/*
.buttons .btn:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-5px);
}*/

/*.contactwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/


/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

/* FOOTER */
footer {
  background-color: #000000;
  color: #FFF;
  height: 120px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100%;
}

.footer-nav-block {
  padding-top: 25px;
  text-align: center;
}

footer .logo {
  float:left;
  margin-left: 40px;
  position: absolute;
}

footer .logoreversed {
  width: 70px;
}

footer nav {
  margin: 0 auto;
}

footer p,
footer nav ul {
  font-size: 22px;
  font-weight: 100;
  padding: 0px;
  text-align: center;
}
footer nav ul li {
  display: inline;
  list-style-type: none;
}

footer nav ul li + li {
  margin-left: 15px;
}

footer nav ul li a {
  color: #FFF;
  text-decoration: none;
}

@media only screen and (min-width:320px) {
  /* For mobile phones: */


}

@media only screen and (max-width:620px) {
  /* For mobile phones: */

  header {
    padding-bottom: 200px;
  }

  .topheader {
    padding: 10px 40px;
  }

  .navigation ul {
    font-size: 18px;
    display: none;
  }

  footer nav ul {
    font-size: 16px;
  }

}

@media only screen and (min-width:620px) {
  /* For mobile phones: */

  footer nav ul {
    font-size: 22px;
  }

}

@media only screen and (max-width:768px) {

  header {
    padding-bottom: 200px;
  }

  .navigation {
    display: none;
  }

}

@media only screen and (min-width:768px) {

  .topheader {
    width: 100%;
  }



  .dropdownnav {
    display: none;
  }

}

@media only screen and (max-width:1024px) {

  .aboutcontent {
    display: inline-block;
  }

  footer {
    padding-bottom: 40px;
  }

  footer .logo {
    float:left;
    margin: 0px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .footernav {
    clear: both;
  }

}

@media only screen and (min-width:1024px) {




}
